<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Presentation.FormsEntities" connectionString="metadata=res://*/Entities.ModelPresentation.Forms.csdl|res://*/Entities.ModelPresentation.Forms.ssdl|res://*/Entities.ModelPresentation.Forms.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Presentation.Forms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Presentation.FormsConnStr" connectionString="Data Source=.;Initial Catalog=Presentation.Forms;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="InteleSysEntities" connectionString="metadata=res://*/Entities.ModelInteleSys.csdl|res://*/Entities.ModelInteleSys.ssdl|res://*/Entities.ModelInteleSys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=InteleSys;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Presentation.Properties.Settings.InteleSysConnectionString" connectionString="Data Source=.;Initial Catalog=InteleSys;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>